*{
  margin: 0;
  padding: 0;
}
/*
body{
  background-image: url(images/gif1.gif);
  background-size: cover;
}
 */
.my-link{
  
  width: 100%;
  height: 350px;
 
  background: linear-gradient(greenyellow,blue); 
  margin-bottom: 45px;

}
.wel{
  background: red;
  color: white;
  margin-top: 5%!important;
  text-align: center;
  padding: 5px;
  margin-left: 16%;
  font-size: 25px;
  border-radius: 10px;
}
.my-link h2{
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  color: ghostwhite;
  margin-top: 15px;
}
.link{
  margin-left: 20px;
  margin-bottom: 40px;
}
i{
  font-size: 30px;
  margin-left: 37px;
  margin-bottom: 20px;
  color: greenyellow;
  
}
i:hover{
  color: red;
  margin-bottom: 30px;
}
.link span{
  margin-left: 15px;
  font-size: 17px;
  color: #559242;
}
.link span:hover{
  color: ghostwhite;
}
.ihead{
  background: #54D123;
  margin-left: 50px ;
  top: 60px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px red;
  
  
  
}
.ihead:hover{
  background: black;
  color: white;
}
.own{
  margin-top: 40px;
  display: block;
  width: 300px;
  margin-left: 30px;
  text-align: center;
  box-shadow: 0px 0px 3px 3px red;
  padding: 10px;
  border-radius: 10px;
  
}
.ow{
  margin-top: -63px;
  height: 40px;
  display: block;
  width: 300px;
  margin-left: 30px;
  text-align: center;
  
  padding: 10px;
  border-radius: 10px;
  
  color: #CACCE9BD;
  
  
  
}
ow:hover{
  display: block;
  color: red;
  

}
.own:hover{
  color: black;
  background: black;
    box-shadow: 0px 0px 3px 3px green;
  
  /*যদি একই যায়গার উপড় মানে একটা লেখার উপড় 
  হোবার করলে আরেকটি আনতে চাই তাহলে আগের লেখাটার উপড় হোবার এর css color and background একই হতে হবে এবং শুধু আগের লেখায় কাজ করবে আর ২য় লেখার কালার হতে হবে সাদা যা পূর্বের লেখার সাথে ম্যাচ না করে ২য় টার height width  customise করতে হবে*/
}
.main-image {
  margin-top: 60px;
  margin-left: 1%;
  margin-right: 1%;
/*  border: 2px solid greenyellow; */
  padding: 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  
}
.main-image img{
  
  width: 40%;
  margin-left: 2px;
  margin-top: 10px;
  box-shadow: 0px 0px 3px 3px black;
  border-radius: 3px;
  margin-bottom: 20px;
  transition: 0.5s, border 2s;
  transition-timing-function: len
  
  
}
.main-image img:hover{
  width: 90%;
  border: 3px solid #22DD80;
   box-shadow: 0px 0px 3px 3px red;
}
.hi{
  flex-grow: 1;
  margin: 8px;
 
}
.our{
  text-align: center;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  background: linear-gradient(red,yellow);
  
}
.posi{
  position: sticky;
  top: 10px;
  left: 0px;
  bottom: 10px;
}
.posi a{
  text-decoration: none;
}
#parent{
  margin-left: 20px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
}
#parent div{
  width: 25%;
  padding: 10px;
  background: red;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 7px;
  margin-left: 3px;
  
  
}
#parent div:hover{
  background: #9421D7;
}
#parent div:nth-child(2n+2){
  background: green;
}
#parent div:nth-child(2n+2):hover{
  background: #9421D7;
}

#parent div a{
  text-decoration: none;
  font-size: 18px;
  color: ghostwhite;
  font-style: italic;
}